@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<input type="email" @bind="Email" placeholder="Enter email" />
<button @onclick="NavigateToAnotherPage">Go to Another Page</button>

@code {
    private string Email { get; set; }

    private void NavigateToAnotherPage()
    {
        var url = $"/tasks/{Email}";
        NavigationManager.NavigateTo(url);
    }
}

